.button {
  display: flex;
  border-radius: $buttonBorders;
  -webkit-border-radius: $buttonBorders;
  -moz-border-radius: $buttonBorders;
  -ms-border-radius: $buttonBorders;
  -o-border-radius: $buttonBorders;
  &--secondary {
    background-color: $ligtButton;
    padding: 0.5vh 2vw;
    margin-left: 2vw;
  }
  &--sm {
    font-size: 1.2rem;
    font-family: $notoSansDisplay;
    font-weight: 700;
  }
  &__icon {
    margin-left: 2vw;
    width: 2vw;
  }
}
