.categoryLinks {
  display: flex;
  justify-content: space-between;
  margin: 2vh 0 4vh 0;
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:hover & {
      &__text {
        font-weight: 400;
      }
    }

    &__image {
      display: block;
      width: 10vw;
    }
    &__text {
      font-size: 1.12rem;
      font-family: $notoSansDisplay;
      font-weight: 300;
      text-align: center;
      cursor: pointer;
    }
  }
}
