.categorylinks {
  display: flex;
  justify-content: space-between;
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__image {
      display: block;
      width: 5vw;
      height: 6vh;
      object-fit: cover;
    }
    &__text {
      font-size: 1.5rem;
    }
  }
}
