.adsFeed {
  display: flex;

  &__sidefeed {
    flex-grow: 4;
    &__heading {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6vh;
    }
    &__lastadded {
      margin-bottom: 2vh;
      &__headingtext {
        font-size: 1.12rem;
        font-family: $notoSansDisplay;
        font-weight: 600;
      }
      &__descriptiontext {
        font-family: $notoSansDisplay;
        font-weight: 300;
        font-size: 1.12rem;
      }
    }
  }
  &__mainfeed {
    margin-left: 4vw;
    margin-bottom: 2vh;
    flex-grow: 8;
    flex-flow: row wrap;
    &__adbox {
      display: flex;
    }
  }
}
