.homePage {
  &__categoryheading {
    display: flex;
    justify-content: space-between;
  }
  &__ads {
    display: flex;

    &__sidefeed {
      flex-grow: 4;
      &__heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6vh;
      }
      &__lastadded {
        margin-bottom: 2vh;
        &__headingtext {
          font-size: 1.12rem;
          font-family: $notoSansDisplay;
          font-weight: 600;
        }
        &__descriptiontext {
          font-family: $notoSansDisplay;
          font-weight: 300;
          font-size: 1.12rem;
        }
      }
    }
    &__mainfeed {
      margin-left: 4vw;
      margin-bottom: 2vh;
      flex-grow: 8;
      flex-flow: row wrap;
      &__adbox {
        display: flex;
      }
    }
  }
  &__subcategoryMenu {
    @include transition(all 0.08s ease-in 0.08s);
    background: $white;
    border-radius: $inputBorders;
    -webkit-border-radius: $inputBorders;
    -moz-border-radius: $inputBorders;
    -ms-border-radius: $inputBorders;
    -o-border-radius: $inputBorders;
    border: 0.7px solid $blueButton;
    position: relative;
    padding: 1vw;
    &__close {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
    }
    &__list {
      display: flex;
      justify-content: space-evenly;
      flex-flow: wrap column;
      max-height: 20vh;
    }
    &__item {
      margin-bottom: 2vh;
      column-count: 1;
      svg {
        width: 1.6vw;
      }
      &__link {
        font-family: $notoSansDisplay;
        font-weight: 200;
        margin-bottom: 1vh;
      }
    }
  }
}
