.ads {
  display: flex;

  &__sidefeed {
    &__heading {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6vh;
    }
    &__lastadded {
      margin-bottom: 2vh;
      &__headingtext {
        font-size: 1.12rem;
        font-family: $notoSansDisplay;
        font-weight: 600;
      }
      &__descriptiontext {
        font-family: $notoSansDisplay;
        font-weight: 300;
        font-size: 1.12rem;
      }
    }
  }
  &__mainfeed {
    margin-left: 4vw;
    margin-bottom: 2vh;
    &__adbox {
      display: flex;
      &__ad {
        background-color: $white;
        margin-right: 1vw;
        padding: 1vw;
        z-index: 10;
        border-radius: $buttonBorders;
        position: relative;
        height: 25vh;
        &__image {
          z-index: -1;
          object-fit: cover;
          width: 95%;
          height: 92%;
          position: absolute;
          border-radius: $inputBorders;

          &::before {
            content: "";
            background: magenta;
            /* background: linear-gradient(
              90deg,
              $white 61.43%,
              $black 121.2%
            ); */
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}
