.homePage {
  &__categoryheading {
    display: flex;
    justify-content: space-between;
  }

  &__subcategoryMenu {
    @include transition(all 0.08s ease-in 0.08s);
    background: $white;
    border-radius: $inputBorders;
    -webkit-border-radius: $inputBorders;
    -moz-border-radius: $inputBorders;
    -ms-border-radius: $inputBorders;
    -o-border-radius: $inputBorders;
    border: 0.7px solid $blueButton;
    position: relative;
    padding: 1vw;
    &__close {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
    }
    &__list {
      display: flex;
      justify-content: space-evenly;
      flex-flow: wrap column;
      max-height: 20vh;
    }
    &__item {
      margin-bottom: 2vh;
      column-count: 1;
      svg {
        width: 1.6vw;
      }
      &__link {
        font-family: $notoSansDisplay;
        font-weight: 200;
        margin-bottom: 1vh;
      }
    }
  }
}
