* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $notoSans;
  font-size: 1.25rem;
  background: $linearBlueRed;
}

input,
select {
  font-family: $notoSans !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $notoSansDisplay;
}
h2 {
  font-weight: 600;
  font-size: 1.8rem;
}
h4 {
  font-weight: 600;
  font-size: 1.6rem;
}

h5 {
  font-weight: 600;
  font-size: 1.4rem;
}

button {
  cursor: pointer;
  background-color: transparent;
  border-width: 0;
  color: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background: $linearLight;
  display: flex;
  justify-content: space-between;
  margin: 1vh 1vw 0 1vw;
  padding: 2vw;
  border-radius: $buttonBorders;
  -webkit-border-radius: $buttonBorders;
  -moz-border-radius: $buttonBorders;
  -ms-border-radius: $buttonBorders;
  -o-border-radius: $buttonBorders;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

main {
  background: $linearGrey;
  margin: 0 1vw 1vh 1vw;
  border-radius: $buttonBorders;
  -webkit-border-radius: $buttonBorders;
  -moz-border-radius: $buttonBorders;
  -ms-border-radius: $buttonBorders;
  -o-border-radius: $buttonBorders;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 2vw;
}
footer {
  padding: 2vw;
}

.bluebutton {
  background-color: $blueButton;
  padding: 1vw;
  font-family: $notoSansDisplay;
  box-shadow: $insetShadow;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: $buttonBorders;
  -webkit-border-radius: $buttonBorders;
  -moz-border-radius: $buttonBorders;
  -ms-border-radius: $buttonBorders;
  -o-border-radius: $buttonBorders;
}

.buttonlink {
  background-color: $ligtButton;
  padding: 1vh 1vw;
  height: 6vh;
  border-radius: $buttonBorders;
  -webkit-border-radius: $buttonBorders;
  -moz-border-radius: $buttonBorders;
  -ms-border-radius: $buttonBorders;
  -o-border-radius: $buttonBorders;
  font-size: 1.2rem;
  font-family: $notoSansDisplay;
  font-weight: 700;
  svg {
    width: 2vw;
    position: relative;
    top: 0.7vh;
  }
}
