* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.25rem;
}

button {
  cursor: pointer;
  background-color: transparent;
  border-width: 0;
  color: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background: linear-gradient(
      0deg,
      rgba(243, 243, 243, 0.8),
      rgba(243, 243, 243, 0.8)
    ),
    rgba(243, 243, 243, 0.9);
}
