.newadd {
  /*  &__input {
    display: flex;
  }
  label {
    display: inline-block;
    width: 7vw;
  }
  input {
    display: inline-block;
    width: 50%;
    font-family: $notoSans;
    background: $white;
    height: 7vh;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid $black;
    padding: 1vh 0;
    border-radius: $inputBorders;
    -webkit-border-radius: $inputBorders;
    -moz-border-radius: $inputBorders;
    -ms-border-radius: $inputBorders;
    -o-border-radius: $inputBorders;
    &:focus {
      border: 1px solid $blueButton;
    }
    &:hover {
      border: 1px solid $black;
    }
  } */
  &__textarea {
    background-color: $white;
    padding: 0 !important;
    font-family: $notoSans !important;
    width: 65%;
    border-bottom: 1px solid $black;
  }
  &__mainarea {
    @extend .newadd__textarea;
    width: 72%;
  }
  &__leftcolon {
    width: 65%;
  }
  &__images {
    &__uploadbutton {
      @extend .bluebutton;
    }
    &__removeall {
      background-color: $white;
      border-radius: $buttonBorders;
      -webkit-border-radius: $buttonBorders;
      -moz-border-radius: $buttonBorders;
      -ms-border-radius: $buttonBorders;
      -o-border-radius: $buttonBorders;
      padding: 1vw;
      font-size: 1.1rem;
      font-family: $notoSansDisplay;
      box-shadow: $insetShadow;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      &__item {
        margin: 2vh;
        &:first-child {
          border: 1px solid $black;
          padding: 0 1vw;
          border-radius: $buttonBorders;
          -webkit-border-radius: $buttonBorders;
          -moz-border-radius: $buttonBorders;
          -ms-border-radius: $buttonBorders;
          -o-border-radius: $buttonBorders;
        }
        &__img {
          border-radius: $buttonBorders;
          -webkit-border-radius: $buttonBorders;
          -moz-border-radius: $buttonBorders;
          -ms-border-radius: $buttonBorders;
          -o-border-radius: $buttonBorders;
          height: 15vh;
          width: 12vw;
          object-fit: contain;
        }
        &__btn-wrapper {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
