/*Fonts*/
$notoSans: "Noto Sans", sans-serif; //main font
$notoSansDisplay: "Noto Sans Display", sans-serif; //headings font

/*Colors*/
$greyBlue: rgba(170, 180, 206, 0.8);
$greyRed: rgba(219, 145, 141, 0.8);
$white: rgba(255, 255, 255, 0.7);
$black: rgba(0, 0, 0, 0.7);
$grey: rgba(33, 33, 33, 0.7);

/*Gradients*/
$linearBlueRed: linear-gradient(
  180deg,
  $greyBlue 0%,
  $greyRed 100%
); //background color
$linearLight: linear-gradient(
    0deg,
    rgba(243, 243, 243, 0.8),
    rgba(243, 243, 243, 0.8)
  ),
  rgba(243, 243, 243, 0.9); //header color
$linearGrey: linear-gradient(
    0deg,
    rgba(243, 243, 243, 0.5),
    rgba(243, 243, 243, 0.5)
  ),
  rgba(243, 243, 243, 0.9); // main background

/*Buttons*/
$ligtButton: rgba(255, 255, 255, 0.3); //filter button
$pinkkyButton: rgba(255, 221, 221, 1); //action button
$blueButton: rgba(207, 218, 246, 1); //cancel button

/*Borders*/
$inputBorders: 0.3rem; //for inputs
$buttonBorders: 0.6rem; //for buttons
$transparentinput: rgba(0, 0, 0, 0.0578);

/*Shadows*/
$insetShadow: inset 4px 4px 10px rgba(0, 0, 0, 0.25); //main buttons shadow
