@import "../../styles/sass/variables";

.imgFileInput {
  .label {
       width: 355px;
    display: flex;
    background-color: $pinkkyButton;
    padding: 1rem;
    font-family: $notoSansDisplay;
    box-shadow: $insetShadow;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: $buttonBorders;
    -webkit-border-radius: $buttonBorders;
    -moz-border-radius: $buttonBorders;
    -ms-border-radius: $buttonBorders;
    -o-border-radius: $buttonBorders;
  }
  .input {
    display: none;
  }
  .imgPreview {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .img {
        width: 255px;
    }
  }
}
