@import "../../styles/sass/variables";

.icon {
  width: 2vw;
}

.filterIcon {
  margin-left: 1vw;
  margin-top: 0.5vh;
}

.backIcon {
  margin-right: 1vw;
}

.backIcon svg {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  margin-right: 1vw;
  width: 2vw;
  margin-top: 0.7vh;
  margin-right: 1vw;
}

.searchIcon {
  color: $black;
  width: 1.5rem;
  height: 1.5rem;
}

.closeIcon {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.menuIcon {
  margin-top: 1vh;
}
